---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import BrandLogo from "@components/BrandLogo.astro";

import { partnersData } from "@/data_files/constants";


---

<MainLayout title="Swefish" themeColor="#fcd801">
  <div class="flex items-center justify-center h-screen">
    <BrandLogo class="h-14 w-auto" />
  </div>
</MainLayout>